
@use "../../assets/styles/colors" as *;
@use "../../assets/styles/spacing" as *;
@use "../../assets/styles/responsiveness" as *;

.languageSelectorWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  gap: 0.2rem;
  z-index: 10;

  span {
    color: $dom-red;
    font-family: 'grotesk';
    font-weight: 500;
    font-size: $dom-font-size-small;
    will-change: auto;
    transition: all 0.2s ease;

    @media (max-width: $screen-sm-min) {
        mix-blend-mode: difference;
    }
    
    &.selected {
        font-weight: 700;
        font-size: $dom-font-size-subtitle;
        color: $dom-red;

        &:after {
            content: "•";
            margin-left: 0.05rem;
        }
    }
  }
}
