@font-face {
    font-family: "foerte";
    src: url("../fonts/foerte/FOERTE.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "abermono";
    src: url("../fonts/abermono250324/AberMono-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "abermono";
    src: url("../fonts/abermono250324/AberMono-Light.woff") format("woff");
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "abermono";
    src: url("../fonts/abermono250324/AberMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}