$dom-padding-sections: 6rem;
$dom-padding-sections-larger: 10rem;
$dom-padding-sections-smaller: 3rem;

$dom-padding-sections-components: 1rem;

$dom-font-size-title: clamp(1.5rem, 2vw, 2.5rem);
$dom-font-size-subtitle: clamp(1.25rem, 1.5vw, 2rem);
$dom-font-size-body: clamp(1rem, 1.2vw, 1.5rem);
$dom-font-size-small: clamp(0.775rem, 1vw, 1.2rem);
$dom-font-size-hero: clamp(1.5rem, 2vw, 2.5rem);

