@use "../../assets/styles/colors.scss" as colors;

.hero_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .content_wrapper {
        display: grid;
        width: 60vw;
        height: 60vh;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: .5rem;
    }

    .hero_content_box {
        border-radius: .25rem;
        border: 2px solid colors.$dom-white;
        box-shadow: rgba(0, 0, 0, 0.303) -4px 9px 25px -6px;
    }

    .whyus_box_2 {
        grid-column: 5 / 10;
        grid-row: 1 / 5;
        border-radius: .25rem;
        background-color: colors.$dom-red;
        color: colors.$dom-white;
        box-shadow: rgba(0, 0, 0, 0.303) -4px 9px 25px -6px;
    }


    .whyus_box_4 {
        grid-column: 5 / 7;
        grid-row: 5 / 7;
        border-radius: .25rem;
        background-color: colors.$dom-red;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.303) -4px 9px 25px -6px;
    }

    .hero_content_box:nth-child(1) {
        grid-column: 3 / 5;
        grid-row: 2 / 5;
        border: none;
        display: flex;
        align-items: center;
        justify-content: right;
        box-shadow: none;
        // TODO: fix image stretching and size of gap
        img {
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }
    .hero_content_box:nth-child(2) {
        grid-column: 5 / 10;
        grid-row: 1 / 5;
        background-color: colors.$dom-white-transparent;
        h1 {
            font-family: "foerte";
            font-size: 3.5rem;
            font-weight: normal;
            color: colors.$dom-white;
            text-transform: uppercase;
            scale: 1;
            display: inline-block;
        }
        p {
            font-family: "abermono";
            font-size: 1.2rem;
            color: colors.$dom-white;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 1rem;
            color: colors.$dom-white;
        }
    }
    .hero_content_box:nth-child(3) {
        grid-column: 1 / 5;
        grid-row: 5 / 7;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        overflow: hidden;
        .testimonials_wrapper {
            width: 100%;
            height: 100%;
        }
    }
    .hero_content_box:nth-child(4) {
        grid-column: 5 / 7;
        grid-row: 5 / 7;
        background-color: colors.$dom-white-transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
            font-family: "foerte";
            font-size: 2rem;
            color: colors.$dom-white;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            padding: 0 1rem;
            word-break: break-word;
            overflow-wrap: break-word;
            will-change: opacity;
        }
    }
    .hero_content_box:nth-child(5) {
        grid-column: 7 / 11;
        grid-row: 5 / 7;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .hero_content_box:nth-child(6) {
        grid-column: 10 / 11;
        grid-row: 4 / 5;
        background-color: colors.$dom-white;
        color: colors.$dom-red;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        p {
            font-family: "foerte";
            font-size: 1rem;
            padding: 1rem;
            text-align: center;
            text-transform: uppercase;
        }
    }
}