@use "../../assets/styles/colors.scss" as colors;

.hero_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .content_wrapper {
        display: grid;
        width: 60vw;
        height: 60vh;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: .5rem;
    }

    .hero_content_box {
        border-radius: .25rem;
        border: 2px solid colors.$dom-white;
        box-shadow: rgba(0, 0, 0, 0.303) -4px 9px 25px -6px;
    }

    .hero_content_box:nth-child(1) {
        grid-column: 3 / 5;
        grid-row: 2 / 5;
        border: none;
        // TODO: fix image stretching and size of gap
        img {
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }
    .hero_content_box:nth-child(2) {
        grid-column: 5 / 10;
        grid-row: 1 / 5;
        background-color: colors.$dom-white-transparent;
    }
    .hero_content_box:nth-child(3) {
        grid-column: 1 / 5;
        grid-row: 5 / 7;
    }
    .hero_content_box:nth-child(4) {
        grid-column: 5 / 7;
        grid-row: 5 / 7;
        background-color: colors.$dom-white-transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            font-family: "foerte";
            font-size: 3rem;
            color: colors.$dom-white;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .hero_content_box:nth-child(5) {
        grid-column: 7 / 11;
        grid-row: 5 / 7;
        overflow: hidden;
        img {
            width: auto;
            object-fit: cover;
        }
    }    
}