@use "../../assets/styles/spacing" as *;
@use "../../assets/styles/borders" as *;
@use "../../assets/styles/colors" as *;
@use "../../assets/styles/responsiveness" as *;

.problemWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $dom-padding-sections-larger 0;
  gap: 4rem;
  position: relative;

  @media (max-width: $screen-lg-min) {
    padding: 2rem 0;
  }

  .problemCardsStack {
    position: relative;
    width: 100%;
  }

  .problemBehind {
    position: absolute;
    width: 102%;
    height: 102%;
    top: -1%;
    left: -1%;
    border-radius: $dom-radius;
    background: #ff643d;
    background: radial-gradient(
      circle,
      rgb(232, 59, 59) 80%,
      rgba(227, 200, 66, 1) 91%,
      rgba(20, 163, 161, 1) 100%
    );
    z-index: 1;
    pointer-events: none;
  }

  .problemCardsContainer {
    display: flex;
    border-radius: $dom-radius;
    border: 1px solid $dom-black;
    overflow: hidden;
    width: 100%;
    height: 380px;
    position: relative;
    z-index: 2;

    @media (max-width: $screen-lg-min) {
      height: auto;
      flex-wrap: wrap;
    }
  }
  .problemCard {
    flex: 1;
    border: 1px solid $dom-black;
    padding: $dom-padding-sections-components;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dom-white;
    backdrop-filter: blur(20px);

    &:hover {
      background-color: transparent;
      backdrop-filter: blur(300px);
    }

    @media (max-width: $screen-sm-min) {
      gap: 2rem;
    }
    .cardTitle {
      font-size: clamp(1.5rem, 4vw, 2rem);
      font-weight: bold;
      font-family: "grotesk";
    }
    .cardDescription {
      font-size: $dom-font-size-body;
      font-family: "abermono";

      @media (max-width: $screen-sm-min) {
        font-size: 0.875rem;
      }
    }
  }
  .problemText {
    width: 50%;
    font-family: "grotesk";
    font-size: $dom-font-size-title;
    line-height: 1.2;
    text-align: center;

    @media (max-width: $screen-lg-min) {
      width: 100%;
    }
  }
}
