@use "../../assets/styles/colors.scss";

.retro_wrapper {
    background-color: colors.$dom-black;
    height: 100vh;
    .img_container {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
