@use "../../assets/styles/colors" as colors;

.testimonials_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        color: colors.$dom-white;
        font-size: .875rem;
        font-family: "abermono", sans-serif;
    }
}
