.text_wrapper {
    display: flex;
    padding: 6rem 0;

    .text_container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .text_p {
            font-family: "abermono";
            font-size: 1.25rem;
            text-wrap: balance;
            margin: 0;
            font-weight: normal;
        }

        .title {
            font-family: "foerte";
            font-size: 6.5rem;
            width: 100%;
            font-weight: normal;
            line-height: 1;
        }
    }

    .image_container {
        width: 40%;
        img {
            width: 100%;
            height: 80%;
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 5px;
        }
    }
}