@use "../../assets/styles/colors.scss";

.text_intro_wrapper {
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 18rem;

    .text_intro_text {
        font-family: "mada";
        font-weight: normal;
        font-size: 14px;
        text-align: justify;
        margin-bottom: 1.5rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: colors.$dom-black;

        .text_intro_text_effect {
            animation: colorBreath 3.5s ease-in-out infinite;
        }
    }

    .text_intro_time {
        font-family: "mada";
        font-size: 28px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 1.5rem;

        .separator {
            animation: blink 1s steps(1) infinite;
        }

        span {
            font-size: 28px;
            font-weight: bold;
        }
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes colorBreath {

    0%,
    100% {
        color: colors.$dom-black;
    }

    50% {
        color: colors.$dom-red;
    }
}

@media (max-width: 768px) {
    .text_intro_wrapper {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
    }

    .text_intro_text {
        font-size: .8rem !important;
        letter-spacing: 2.5px !important;
    }

    .text_intro_time {
        font-size: .8rem !important;
        letter-spacing: 2.5px !important;

        span {
            font-size: .8rem !important;
        }
    }
}